#root {
  width: 100%;
}

body {
  margin: 0;
  width: 350px;
}

.wrapper {
  color: white;
  width: 100%;
  background-color: black;
  padding: 10px;
  border-radius: 15px;
}

.container {
  width: 100%;
  display: grid;
  gap: 5px;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.options > button {
  border: none;
  background-color: transparent;
  color: cyan;
  border: 1px solid cyan;
  border-radius: 25px;
  padding: 5px;
}

.section-title {
  padding: 5px 0 5px 0;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

.mortgagee-selection {
  width: 100%;
}

.mortgagee-list {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 5px;
}
